version: 2.1

# Define the jobs we want to run for this project
jobs:
  test:
    docker:
      - image: cimg/go:1.15
    steps:
      - checkout
      - run:
          name: test
          command: |-
            go test -v ./...

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - test